.btn{
    padding: 15px 10px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 7px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s;

}

.btn:hover{
    background-color: rgb(214, 18, 18);
}